<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <contextName>testContext</contextName>
    <appender name="stash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>${java.io.tmpdir}/test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${java.io.tmpdir}/test.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"damnGodWebservice","roles":["customerorder", "auth"], "buildinfo": { "version" : "Version 0.1.0-SNAPSHOT", "lastcommit" : "75473700d5befa953c45f630c6d9105413c16fe1"} }</customFields>
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
                <version>[ignore]</version>
            </fieldNames>
            <includeMdc>false</includeMdc>
        </encoder>
    </appender>
    
    <!--
        The logstashEncoderAppender and loggingEventCompositeJsonEncoderAppender are
        both tested by ConfigurationTest, and should result in roughly the same configuration.
        
        The logstashEncoderAppender uses the "old" configuration.
        The loggingEventCompositeJsonEncoderAppender uses the "new" composite configuration.
    -->
    <appender name="logstashEncoderAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <message>customMessage</message>
                <caller>caller</caller>
                <callerClass>class</callerClass>
                <callerMethod>method</callerMethod>
                <callerFile>file</callerFile>
                <callerLine>line</callerLine>
            </fieldNames>
            <includeCallerInfo>true</includeCallerInfo>
            <enableContextMap>true</enableContextMap>
            <shortenedLoggerNameLength>20</shortenedLoggerNameLength>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>1000</maxLength>
                <shortenedClassNameLength>30</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
                <exclude>excluded</exclude>
                <inlineHash>true</inlineHash>
            </throwableConverter>
            <includeMdcKeyName>included</includeMdcKeyName>
            <customFields>{"customName":"customValue"}</customFields>
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                <pattern>{"patternName":"patternValue","relativeTime":"#asLong{%relative}"}</pattern>
            </provider>
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventNestedJsonProvider">
                <fieldName>nested</fieldName>
                <providers>
                    <provider class="net.logstash.logback.composite.loggingevent.RawMessageJsonProvider">
                        <fieldName>customRawMessage</fieldName>
                    </provider>
                    <provider class="net.logstash.logback.composite.loggingevent.UuidProvider">
                        <fieldName>id</fieldName>
                        <strategy>time</strategy>
                        <ethernet>00:C0:F0:3D:5B:7C</ethernet>
                    </provider>
                    <provider class="net.logstash.logback.composite.loggingevent.StackHashJsonProvider">
                        <fieldName>customErrorHash</fieldName>
                        <exclude>exclude</exclude>
                    </provider>
                </providers>
            </provider>
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider">
                <includeNonStructuredArguments>true</includeNonStructuredArguments>
                <nonStructuredArgumentsFieldPrefix>prefix</nonStructuredArgumentsFieldPrefix>
            </provider>
            <provider class="net.logstash.logback.composite.loggingevent.ContextNameJsonProvider"/>
        </encoder>
    </appender>
    <appender name="loggingEventCompositeJsonEncoderAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message>
                    <fieldName>customMessage</fieldName>
                </message>
                <nestedField>
                    <fieldName>nested</fieldName>
                    <providers>
                    <uuid>
                        <fieldName>id</fieldName>
                        <strategy>time</strategy>
                        <ethernet>00:C0:F0:3D:5B:7C</ethernet>
                    </uuid>
                    <rawMessage>
                        <fieldName>customRawMessage</fieldName>
                    </rawMessage>
                    </providers>
                </nestedField>
                <loggerName>
                    <shortenedLoggerNameLength>20</shortenedLoggerNameLength>
                </loggerName>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <callerData>
                    <fieldName>caller</fieldName>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <fileFieldName>file</fileFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>20</maxDepthPerThrowable>
                        <maxLength>1000</maxLength>
                        <shortenedClassNameLength>30</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <exclude>excluded</exclude>
                        <inlineHash>true</inlineHash>
                    </throwableConverter>
                </stackTrace>
                <stackHash>
                    <exclude>excluded</exclude>
                </stackHash>
                <context/>
                <contextName/>
                <jsonMessage/>
                <mdc>
                    <includeMdcKeyName>included</includeMdcKeyName>
                </mdc>
                <contextMap/>
                <globalCustomFields>
                    <customFields>{"customName":"customValue"}</customFields>
                </globalCustomFields>
                <tags/>
                <logstashMarkers/>
                <pattern>
                    <pattern>{"patternName":"patternValue","relativeTime":"#asLong{%relative}"}</pattern>
                </pattern>
                <provider class="net.logstash.logback.TestJsonProvider"/>
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                    <nonStructuredArgumentsFieldPrefix>prefix</nonStructuredArgumentsFieldPrefix>
                </arguments>
            </providers>
        </encoder>
    </appender>
    <appender name="listAppender" class="ch.qos.logback.core.read.ListAppender"/>
    <logger name="net.logstash.logback.encoder.LogstashEncoderTest" level="DEBUG">
        <appender-ref ref="stash" />
    </logger>
    <logger name="net.logstash.logback.ConfigurationTest" level="DEBUG">
        <appender-ref ref="loggingEventCompositeJsonEncoderAppender" />
        <appender-ref ref="logstashEncoderAppender" />
        <appender-ref ref="listAppender" />
    </logger>
</configuration>