name: build

on:
  - push
  - pull_request

jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '17' ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup JAVA
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}

      - uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '.mvn/wrapper/maven-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build
        run: ./mvnw --batch-mode --no-transfer-progress --show-version --settings .github/maven/settings.xml verify

      # Run tests against Jackson 2.12 to ensure runtime compatibility (do not recompile)
      - name: Test Jackson 2.12.x
        run: ./mvnw --batch-mode --no-transfer-progress --show-version --settings .github/maven/settings.xml -Pcompat-jackson surefire:test

      # Run tests against Logback 1.2 to ensure runtime compatibility (do not recompile)
      - name: Test Logback 1.2.x
        run: ./mvnw --batch-mode --no-transfer-progress --show-version --settings .github/maven/settings.xml -Pcompat-logback surefire:test

      - name: Upload Test Reports to Github
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test-reports-${{ matrix.java }}
          path: '**/target/surefire-reports/**'
          if-no-files-found: ignore

      - name: Upload Test Coverage to Codecov
        uses: codecov/codecov-action@v2
        if: matrix.java == '8'
        with:
          files: target/site/jacoco/jacoco.xml


  release:
    name: release
    runs-on: ubuntu-20.04
    needs: [build]
    if: github.event_name == 'push' && github.repository == 'logfellow/logstash-logback-encoder' && github.ref == 'refs/heads/main' && startsWith(github.event.commits[0].message, '[release]')
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Setup JAVA
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: 8

      - name: Setup GPG
        run: .github/workflows/steps/setup-gpg.sh
        env:
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Setup GIT
        run: |
          .github/workflows/steps/setup-git.sh
          git switch main

      - uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '.mvn/wrapper/maven-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Release
        run: ./mvnw --batch-mode --no-transfer-progress --show-version --settings .github/maven/settings.xml --activate-profiles ossrh release:prepare release:perform
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
