name: build

on:
  - push
  - pull_request

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '15' ]
    steps:
      - uses: actions/checkout@v1.1.0
      - name: setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: build
        run: ./mvnw --batch-mode --show-version --settings .github/maven/settings.xml verify
  release:
    name: release
    if: github.event_name == 'push' && github.repository == 'logstash/logstash-logback-encoder' && github.ref == 'refs/heads/master' && startsWith(github.event.commits[0].message, '[release]')
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v1.1.0
        with:
          ref: master
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: setup-gpg
        run: .github/workflows/steps/setup-gpg.sh
        env:
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: setup-git
        run: |
          .github/workflows/steps/setup-git.sh
          git switch master
      - name: release
        run: ./mvnw --batch-mode --show-version --settings .github/maven/settings.xml --activate-profiles ossrh release:prepare release:perform
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
